<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include "head.html" %}
<body>
    {% block navigation_wrapper %}
        {% block navigation %}
            <nav role="navigation">{% include "navigation.html" %}</nav>
        {% endblock navigation %}
    {% endblock navigation_wrapper %}
    {% block hero_wrapper %}
        {% block hero %}
        {% endblock hero %}
    {% endblock hero_wrapper %}
    <div id="main">
        <div id="content">
            <div class="container">
                {% block content_wrapper %}
                    {% include "content_wrapper.html" %}
                    {% block content %}
                    {% endblock content %}
                {% endblock content_wrapper %}
            </div>
        </div>
    </div>
    {% block footer_wrapper %}
        {% block footer %}
            <footer role="contentinfo">{% include "footer.html" %}</footer>
        {% endblock footer %}
    {% endblock footer_wrapper %}
    {% include "after_footer.html" %}
</body>
</html>
